
body {
    font-family: 'Rubik', sans-serif;
    font-size: var(--rootsize);

}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;
}

#mainArticle {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-top-color: aqua;
    border-top-width: 5px;
    width: 60rem;
}

#list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    list-style:decimal;
    gap: 2rem;
    padding-left: 1px;
}

#title {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    width: 60rem;
}



nav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    height: min-content;
    gap: 2rem;
    margin-bottom: 0;
}

button {
    border-color: lightgray;
    width: 9rem;
    height: 3rem;
}

button:focus {
    background-color: aqua;
    border-bottom: 0px;
}







